.rfapi-header {
    padding: 10px;
}

.rfapi-ui-container {
    display: block;
    margin-left: -20px;
}

.rfapi-tabs {
    background-color: #fff;
    margin: 0 1rem;
    padding: 1.5em;
    border: 1px solid #dee2e6 !important;
    box-shadow: 0 2px 5px rgb(0 0 0 / 12%);
}

.rfapi-nav-tab {
    color: #1d2238;
    font-size: 1rem;
    font-weight: 500;
    padding: .9rem 1rem;
    cursor: pointer;
    transition: .3s cubic-bezier(.4, 0, .2, 1);
    text-decoration: none;
}

.rfapi-nav-tab:hover {
    background-color: #e4e4e4;
}

.rfapi-nav-tab-active {
    border-bottom: 3px solid #384e7e;
}

.rfapi-body {
    background-color: #fff;
    display: flex;
    padding-left: 10px;
    margin-top: 10px
}

.rfapi-tab-content-div {
    background-color: #fff;
    margin: 1rem 1rem 0 1rem;
    padding: 1em;
}

.rfapi-rest-child-path {
    margin-left: 1rem;
    padding: 0 0 0.5em 1em;
}

.rfapi-api-list-div {
    border: 1px solid #c2c2c2;
    border-radius: 0;
    overflow-y: scroll;
    height: 70vh;
    padding-left: 1em;
}

.rfapi-mb-1 {
    margin-bottom: 0.5em !important;
}

.rfapi-mt-1 {
    margin-top: 0.5em !important;
}

/* Rounded switch css start */
.rfapi-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.rfapi-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.rfapi-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.rfapi-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.rfapi-slider {
    background-color: #2271b1;
}

input:focus+.rfapi-slider {
    box-shadow: 0 0 1px #2271b1;
}

input:checked+.rfapi-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.rfapi-slider.rfapi-round {
    border-radius: 34px;
}

.rfapi-slider.rfapi-round:before {
    border-radius: 50%;
}

/* Rounded switch css end */

.rfapi-info-panel {
    padding: 1em;
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.rfapi-auth-method-card {
    display: flex;
    border: 1px solid #cecece;
    background: aliceblue;
    padding: 1rem;
    width: 18rem;
    font-size: medium;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
}

.rfapi-auth-method-card-selected {
    border: 2px solid #4d5fff;
}

.rfapi-auth-method-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.rfapi-card-icon {
    height: 40px;
}

.rfapi-example {
    padding: 1em;
    width: 50em;
    font-size: medium;
    line-height: 170%;
    background-color: #002b36;
    border-color: #002b36;
    color: #e2e2e2;
}

.rfapi-example-value {
    color: red;
}

.rfapi-dflex {
    display: flex;
}

.rfapi-message {
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0 1rem 1rem 1rem;
    padding: 1em;
    font-size: medium;
    font-weight: 600;
}

.rfapi-message-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.rfapi-message-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}